<div class="row">
  <div class="row">
    <div class="col">
      <a class="text-decoration-none" routerLink="/products"
        >← Back to products</a
      >
    </div>
  </div>
  <div class="text-center my-4">
    <h1 *ngIf="!isUpdating && !isDetails">Add new product</h1>
    <h1 *ngIf="isUpdating">Update product</h1>
    <h1 *ngIf="isDetails">Product details</h1>
  </div>
  <hr />
  <form #productForm="ngForm" (ngSubmit)="saveProduct()">
    <div class="m-2 d-flex flex-column">
      <div class="row mb-3">
        <label for="id-proveedor" class="col-4 col-form-label text-start"
          >SKU</label
        >
        <div class="col-4">
          <input
            type="text"
            class="form-control"
            id="id-proveedor"
            name="sku"
            #sku="ngModel"
            [disabled]="isDetails"
            #SKU="ngModel"
            required=""
            [(ngModel)]="curretnProduct.sku"
            placeholder="SKU"
          />
          <div
            *ngIf="productForm.controls['sku']?.hasError('required') &&
            !validForm"
            class="col-auto"
          >
            <span
              class="form-text text-danger"
              [class.required-field]="productForm.controls['sku'].touched"
              >This field is required</span
            >
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="category" class="col-4 col-form-label text-start"
          >Category</label
        >
        <div class="col-4">
          <select
            type="text"
            class="form-select"
            id="category"
            name="category"
            #category="ngModel"
            [disabled]="isDetails"
            [(ngModel)]="curretnProduct.categoryId.id"
          >
            <option selected disabled value="0">Select a category</option>
            <option *ngFor="let cat of categories" value="{{ cat.id }}">
              {{ cat.name }}
            </option>
          </select>
        </div>
        <div class="col-2">
          <button class="btn btn-sm btn-outline-info">Add category</button>
        </div>
      </div>
      <div class="row mb-3">
        <label for="input-nombre" class="col-sm-4 col-form-label text-start"
          >Product name</label
        >
        <div class="col-4">
          <input
            type="text"
            class="form-control"
            id="input-nombre"
            [disabled]="isDetails"
            name="name"
            #name="ngModel"
            required=""
            [(ngModel)]="curretnProduct.name"
            placeholder="Name"
          />
          <div
          *ngIf="productForm.controls['name']?.hasError('required') &&
          !validForm"
          class="col-auto"
        >
          <span
            class="form-text text-danger"
            [class.required-field]="productForm.controls['name'].touched"
            >This field is required</span
          >
        </div>
        </div>
      </div>
      <div class="row mb-3">
        <label
          for="input-descripcion"
          class="col-sm-4 col-form-label text-start"
          >Description</label
        >
        <div class="col-4">
          <textarea
            type="text"
            class="form-control"
            id="input-descripcion"
            [disabled]="isDetails"
            name="description"
            #description="ngModel"
            [(ngModel)]="curretnProduct.description"
            placeholder="Some description"
          ></textarea>
        </div>
      </div>
      <div class="row mb-3">
        <label for="input-precio" class="col-sm-4 col-form-label text-start"
          >Price</label
        >
        <div class="col-4">
          <div class="input-group">
            <span class="input-group-text "><i class="bi bi-currency-dollar"></i></span>
            <input
              type="number"
              class="form-control"
              id="input-precio"
              name="price"
              #price="ngModel"
              required=""
              [disabled]="isDetails"
              [(ngModel)]="curretnProduct.price"
              placeholder="123"
            />
          </div>
          <div
          *ngIf="productForm.controls['price']?.hasError('required') &&
          !validForm"
          class="col-auto"
        >
          <span
            class="form-text text-danger"
            [class.required-field]="productForm.controls['price'].touched"
            >This field is required</span
          >
        </div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="input-proveedor" class="col-sm-4 col-form-label text-start"
          >Supplier</label
        >
        <div class="col-4">
          <select
            type="text"
            class="form-select"
            id="input-proveedor"
            name="supplier"
            #supplier="ngModel"
            [disabled]="isDetails"
            [(ngModel)]="curretnProduct.supplierId.id"
          >
            <option selected disabled value="0">Select a supplier</option>
            <option *ngFor="let sup of suppliers" value="{{ sup.id }}">
              {{ sup.legalName }}
            </option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label for="input-img" class="col-4 col-form-label text-start"
          >Image</label
        >
        <div class="col-4">
          <input
            type="text"
            [disabled]="isDetails"
            id="input-img"
            class="form-control"
            name="imgUrl"
            #imgUrl="ngModel"
            [(ngModel)]="curretnProduct.imgUrl"
            placeholder="URL"
          />
        </div>

        <div class="col-4">
          <img
            class="img-fluid"
            src="{{ curretnProduct.imgUrl }}"
            alt="product"
            (error)="imageNotFound($event)"
          />
        </div>
      </div>
    </div>
    <div
      class="modal-footer mt-2"
      [ngClass]="isDetails ? 'visually-hidden' : ''"
    >
      <button type="button" class="btn btn-secondary">Cancel</button>
      <button
        type="submit"
        class="btn btn-primary"
        id="guardar-proveedor"
        [disabled]="!productForm.valid"
      >
        Save
      </button>
    </div>
  </form>
</div>
