<div class="container-fluid px-4">
  <h1 class="mt-4">PURCHASE ORDERS</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Purchasse orders</li>
  </ol>
  <div class="text-end">
    <button
      type="button"
      class="btn btn-primary"
      routerLink="/purchase-orders/new"
      id="btn-agregar-proveedor"
    >
      Add new purchase order
    </button>

  </div>
  
  <div class="mb-4">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Order N°</th>
          <th>Emission date</th>
          <th>Delivery date</th>
          <th>Status</th> 
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let po of activePOs()">
          <td>{{ po.orderNumber }}</td>
          <td>{{ po.emissionDate | date }}</td>
          <td>{{ po.deliveryDate | date }}</td>
          <td>
            <select class="form-select-sm " [(ngModel)]="po.statusId.id" (change)="changeOrderStatus(po)">
              <option *ngFor="let stat of statuses" [value]="stat.id">{{stat.status}}</option>
            </select>
          
          </td>
          <td>
            <div class="d-flex flex-row">
              <button
                type="button"
                class="btn btn-outline-success btn-sm"
                value="{{ po.id }}"
                [routerLink]="['/purchase-orders', po.id]"
              >
                Detalles
              </button>

              
              <!-- <button
                type="button"
                class="btn btn-outline-danger btn-sm"
                value="{{ po.id }}"
                (click)="deletePO(po.id)"
              >
                Borrar
              </button> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
</div>
