<div class="container-fluid px-4">
    <h1 class="mt-4">PURCHASE ORDERS</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Purchasse orders</li>
    </ol>
  
    <div class="card mb-4">
      <div class="card-header row px-2 mx-0">
        <div class="col-6"><i class="fas fa-table me-1"></i>Purchase order list</div>
        <div class="col-6 text-end">
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#agregarProductoModal"
            id="btn-agregar-proveedor"
            (click)="resetFields()"
          >
            +
          </button>
          <!-- Modal -->
          <div class="modal fade" id="agregarProductoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="agregarProductoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="agregarProductoModalLabel">
                    Create purchase order
                  </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form #poForm="ngForm" (ngSubmit)="addPO(poForm)">
                    <div class="row mb-3">
                      <label for="order-number" class="col-sm-4 col-form-label text-start">Order N°</label>
                      <div class="col-sm-8">
                        <input type="number" class="form-control" id="order-number" name="number" required="" [(ngModel)]="numberInput" />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="emission-date" class="col-sm-4 col-form-label text-start">Emission date</label>
                      <input type="text" class="form-control" id="emission-date" name="emission" [(ngModel)]="emissionInput" />
                    </div>
                    <div class="row mb-3">
                      <label for="delivery-date" class="col-sm-4 col-form-label text-start">Delivery date</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="delivery-date" name="delivery" [(ngModel)]="deliveryInput" />
                      </div>
                    </div>
     
                    <div class="row mb-3">
                      <label for="total" class="col-sm-4 col-form-label text-start">Total</label>
                      <div class="col-sm-8">
                        <input type="number" class="form-control" id="total" name="price" required="" [(ngModel)]="" />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="input-proveedor" class="col-sm-4 col-form-label text-start">Proveedor</label>
                      <div class="col-sm-8">
                        <select class="form-select" name="proveedor" id="input-proveedor"  [(ngModel)]="proveedorInput">
                          <option *ngFor="let s of suppliers">{{ s }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="input-img" class="col-sm-4 col-form-label text-start">Image</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="input-img" name="img" required="" [(ngModel)]="imgInput" />
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                      <button type="submit" class="btn btn-primary" id="guardar-proveedor" data-bs-dismiss="modal" [disabled]="!productsForm.valid">Guardar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <table class="table table-hover card-body">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Proveedor</th>
            <th>Precio</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Proveedor</th>
            <th>Precio</th>
            <th>Acciones</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let p of products">
            <td><div class="container"><img src="{{ p.img }}" alt="product" class="img-thumbnail img-table" (error)="imageNotFound($event)"></div></td>
            <td>{{ p.id }}</td>
            <td>{{ p.nombre }}</td>
            <td>{{ p.categoria }}</td>
            <td>{{ p.proveedor }}</td>
            <td>{{ p.precio }}</td>
            <td>
              <div class=" d-flex flex-row">
              
                <button
                type="button"
                class="btn btn-outline-success btn-sm"
                value="{{ p.SKU }}"
                [routerLink]="['/products', p.SKU]"
                
              >
                Detalles
              </button>
   
                
              <button
              type="button"
              class="btn btn-outline-primary btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#editarPrductoModal"
              id="btn-agregar-proveedor"
              (click)="loadUpdate(p)"
            >
              Editar
            </button>
  
  
  
              <button
                type="button"
                class="btn btn-outline-danger btn-sm"
                value="{{ p.id }}"
                (click)="deleteProduct(p.id)"
              >
                Borrar
              </button>
              
  
  
              
            </div>
            <div class="modal fade" id="editarPrductoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editarPrductoModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editarPrductoModal">
                      Editar producto
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form #productsForm="ngForm" (ngSubmit)="updateProduct(productsForm)">
                      <input type="text" class="form-control visually-hidden " id="id-proveedor" name="id"  [(ngModel)]="idInput" #id="ngModel" />
                      <div class="row mb-3">
                        <label for="id-proveedor" class="col-sm-4 col-form-label text-start">Codigo SKU</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="SKU-proveedor" name="SKU" required="" minlength="4" [(ngModel)]="SKUInput" #name="ngModel" />
                          <div *ngIf="name.errors?.['minlength']" class="col-auto">
                            <span class="form-text text-danger">Debe tener al menos 4 caracteres alfanumericos.</span>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="input-categoria" class="col-sm-4 col-form-label text-start">Category</label>
                        <div class="col-sm-8">
                          <select class="form-select"id="input-categoria" name="categoria" [(ngModel)]="categoriaInput">
                            <option *ngFor="let c of categories">{{ c.value }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="select-rubro" class="col-sm-4 col-form-label text-start">Product name</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="select-rubro" name="nombre" [(ngModel)]="nombreInput" />
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="input-web" class="col-sm-4 col-form-label text-start">Description</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="input-web" name="descripcion" [(ngModel)]="descripcionInput" />
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="input-tel" class="col-sm-4 col-form-label text-start">Price</label>
                        <div class="col-sm-8">
                          <input type="number" class="form-control" id="input-tel" name="precio" required="" [(ngModel)]="precioInput" />
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="input-email" class="col-sm-4 col-form-label text-start">Supplier</label>
                        <div class="col-sm-8">
                          <select class="form-select" name="proveedor" id="proveedor-input" [(ngModel)]="proveedorInput">
                            <option *ngFor="let s of suppliers">{{ s }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="input-img" class="col-sm-4 col-form-label text-start">Image</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="input-img" name="img" required="" [(ngModel)]="imgInput" />
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetFields()">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="guardar-proveedor" data-bs-dismiss="modal" [disabled]="!productsForm.valid">Guardar</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
    
                
              
            </td>
          </tr>
        </tbody>
      </table>
  
      <!-- <div class="card-body">
        <table id="datatablesSimple">
          <thead>
            <tr>
              <th>ID</th>
              <th>Razon social</th>
              <th>Rubro</th>
              <th>CUIT</th>
              <th>Email</th>
              <th>Direccion</th>
              <th>Telefono</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>ID</th>
              <th>Razon social</th>
              <th>Rubro</th>
              <th>CUIT</th>
              <th>Email</th>
              <th>Direccion</th>
              <th>Telefono</th>
              <th>Acciones</th>
            </tr>
          </tfoot>
          <tbody id="lista-proveedores-tbody"></tbody>
        </table>
      </div> -->
    </div>
  </div>
  
