<div class="container-fluid px-4">
  <h1 class="mt-4">PURCHASE ORDERS</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
      <a href="/home" class="text-decoration-none text-muted"
        >Home</a
      >
    </li>
    <li class="breadcrumb-item active">Purchase orders</li>
  </ol>
<div class="row">


  <div class="col-6 d-flex">
    <!-- Dropdown for filtering -->
    <div ngbDropdown class="d-inline-block me-2">
      <button
        type="button"
        class="btn btn-outline-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        <i class="bi bi-funnel"></i> Filter
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <ul>
          <li ngbDropdownItem>
            <a (click)="filterByStatus(0)">All</a>
          </li>
          <li ngbDropdownItem *ngFor="let stat of statuses">
            <a (click)="filterByStatus(stat.id)">{{ stat.status }}</a>
          </li>
        </ul>
      </div>
    </div>

  </div>





  <div class="col-6 text-end">
    <button
      type="button"
      class="btn btn-primary"
      routerLink="/purchase-orders/new"
      id="btn-agregar-proveedor"
    >
      Add new purchase order
    </button>
  
  </div>
</div>

  
  <div class="mb-4">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Order N°</th>
          <th>Supplier</th>
          <th>Emission date</th>
          <th>Delivery date</th>
          <th>Status</th> 
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let po of purchaseOrdersAux">
          <td>{{ po.orderNumber }}</td>
          <td>{{po.supplierId.legalName}} <span class="text-danger " *ngIf="po.supplierId.deleted">(Deleted)</span></td>
          <td>{{ po.emissionDate | date }}</td>
          <td>{{ po.deliveryDate | date }}</td>
          <td>
            <select class="form-select-sm " [(ngModel)]="po.statusId.id" (change)="changeOrderStatus(po)">
              <option *ngFor="let stat of statuses" [value]="stat.id">{{stat.status}}</option>
            </select>
          
          </td>
          <td>
            <div class="d-flex flex-row">
              <button
                type="button"
                class="btn btn-outline-success btn-sm"
                value="{{ po.id }}"
                [routerLink]="['/purchase-orders', po.id]"
              >
                Detalles
            </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="purchaseOrders.length == 0" class="empty-list-message">
      <p>The list of purchase orders is currently empty.</p>
      <p>Would you like to <a href="/purchase-orders/new">add a new purchase order</a>? </p>
    </div>

  </div>
</div>
