<div class="container-fluid px-4">
  <h1 class="mt-4">SUPPLIERS</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Suppliers</li>
  </ol>

  <div class="card mb-4">
    <div class="card-header row px-2 mx-0">
      <div class="col-6"><i class="fas fa-table me-1"></i> Suppliers list</div>
      <div class="col-6 text-end">
        <button
          type="button"
          class="btn btn-primary"
          id="btn-agregar-proveedor"
          routerLink="new"
        >
          Add new supplier
        </button>
      </div>
    </div>
    <table class="table-hover card-body">
      <thead>
        <tr>
          <th class="ps-2">ID</th>
          <th>Logo</th>
          <th>CodProv</th>
          <th>Razon social</th>
          <th>Contacto</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody >
        <tr  *ngFor="let s of suppliers" [id]='s.deleted? "bg-deleted" : ""'>
          <td class="ps-2">{{ s.id }}</td>
          <td><img src="{{ s.urlLogo }}" alt="" (error)="imageNotFound($event)"></td>
          <td>{{ s.codProv }}</td>
          <td>{{ s.legalName }}</td>
          <td>
            <div>{{ s.contactInfoId.email }}</div>
            <div>{{ s.webSite }}</div>
            <div>{{ s.contactInfoId.phoneId.country + s.contactInfoId.phoneId.phoneNumber }} </div>
          </td>
          <td>{{ s.contactInfoId.firstName + " " + s.contactInfoId.lastName }}</td>
          <td>
            <div class="d-flex flex-row">
              <button
                type="button"
                class="btn btn-outline-success btn-sm"
                value="{{ s.codProv }}"
                routerLink="details/{{ s.id }}"
              >
                Details
              </button>

              <button
                type="button"
                class="btn btn-outline-primary btn-sm"
                id="btn-agregar-proveedor"
                routerLink="update/{{ s.id }}"
              >
                Edit
              </button>

              <button
                *ngIf="!s.deleted"
                type="button"
                class="btn btn-outline-danger btn-sm"
                value="{{ s.codProv }}"
                (click)="deleteSupplier(s.id)"
              >
                Delete
              </button>
              <button
              *ngIf="s.deleted"
              type="button"
              class="btn btn-outline-danger btn-sm"
              value="{{ s.codProv }}"
              (click)="deleteSupplier(s.id)"
            >
              Restore
            </button>
            </div>

          </td>
        </tr>
      </tbody>
    </table>

    <!-- <div class="card-body">
      <table id="datatablesSimple">
        <thead>
          <tr>
            <th>ID</th>
            <th>Razon social</th>
            <th>Rubro</th>
            <th>CUIT</th>
            <th>Email</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>ID</th>
            <th>Razon social</th>
            <th>Rubro</th>
            <th>CUIT</th>
            <th>Email</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Acciones</th>
          </tr>
        </tfoot>
        <tbody id="lista-proveedores-tbody"></tbody>
      </table>
    </div> -->
  </div>
</div>
