<div class="container-fluid px-4">
  <h1 class="mt-4">SUPPLIERS</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
      <a href="/home" class="text-decoration-none text-muted"
        >Home</a
      >
    </li>
    <li class="breadcrumb-item active">Suppliers</li>
  </ol>

  <div class="row mb-3">
    <div class="col-6 d-flex">
      <div ngbDropdown class="d-inline-block me-2">
        <button
          type="button"
          class="btn btn-outline-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          <i class="bi bi-funnel"></i> Filter
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <ul>
            <li ngbDropdownItem><a (click)="filterDeleted()">Deleted</a></li>
            <li ngbDropdownItem><a (click)="filterActive()">Active</a></li>
          </ul>
        </div>
      </div>

      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="bi bi-search"></i></span>
        </div>
        <input
          type="search"
          class="form-control"
          placeholder="Search"
          [(ngModel)]="searchInput"
          (keyup)="search()"
        />
      </div>
    </div>
    <div class="col-6 text-end">
      <button
        type="button"
        class="btn btn-primary"
        id="btn-agregar-proveedor"
        routerLink="new"
      >
        Add new supplier
      </button>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Status</th>
        <th>
          Supplier Code
          <button class="btn p-0">
            <i
              class="bi bi-arrow-up-short"
              (click)="sortSuppliers('codProv', 'asc')"
            ></i>
          </button>
          <button class="btn p-0">
            <i
              class="bi bi-arrow-down-short"
              (click)="sortSuppliers('codProv', 'desc')"
            ></i>
          </button>
        </th>
        <th>
          Legal name
          <button class="btn p-0">
            <i
              class="bi bi-arrow-up-short"
              (click)="sortSuppliers('legalName', 'asc')"
            ></i>
          </button>
          <button class="btn p-0">
            <i
              class="bi bi-arrow-down-short"
              (click)="sortSuppliers('legalName', 'desc')"
            ></i>
          </button>
        </th>
        <th>Contact info</th>
        <th>Location</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let s of suppliersAux"
        [ngClass]="{ 'deleted-supplier': s.deleted }"
      >
        <td>
          <img
            class="img-table"
            [src]="s.urlLogo"
            class="img-thumbnail img-table"
            alt="{{ s.legalName }}"
            (error)="imageNotFound($event)"
          />
        </td>
        <td *ngIf="s.deleted">
          <span class="rounded px-1 text-bg-danger">Deleted</span>
        </td>
        <td *ngIf="!s.deleted">
          <span class="rounded px-1 text-bg-success">Active</span>
        </td>
        <td>{{ s.codProv }}</td>
        <td>{{ s.legalName }}</td>
        <td>
          {{ s.contactInfoId.firstName + " " + s.contactInfoId.lastName }}
          <span
            class="info-tooltip"
            ngbTooltip="Email: {{ s.contactInfoId.email }}  Website: {{
              s.webSite
            }}  Phone: {{ s.contactInfoId.phoneId.country }} {{
              s.contactInfoId.phoneId.phoneNumber
            }}"
          >
            <i class="bi bi-info-circle"></i>
          </span>
        </td>
        <td>
          {{
            s.addressId.provinceId.name +
              ", " +
              s.addressId.provinceId.countryId.name
          }}
        </td>
        <td>
          <div class="d-flex flex-row">
            <button
              type="button"
              class="btn btn-outline-success btn-sm"
              [routerLink]="'details/' + s.id"
            >
              Details
            </button>
            <button
              type="button"
              class="btn btn-outline-primary btn-sm"
              [routerLink]="'update/' + s.id"
            >
              Edit
            </button>
            <button
              *ngIf="!s.deleted"
              type="button"
              class="btn btn-outline-danger btn-sm"
              (click)="deleteSupplier(s.id)"
            >
              Delete
            </button>
            <button
              *ngIf="s.deleted"
              type="button"
              class="btn btn-outline-danger btn-sm"
              (click)="deleteSupplier(s.id)"
            >
              Restore
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="suppliers.length == 0" class="empty-list-message">
    <p>The list of suppliers is currently empty.</p>
    <p>Would you like to <a href="/suppliers/new">add a new supplier</a>?</p>
  </div>
</div>
