<div class="container ">
    <div class="row">
        <!-- <div class="col-6" *ngIf="poProducts.length > 0; else loading"> -->
            <table
            class="table table-hover card-body"
            
          >
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Unit price</th>
                <th>Total price</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let po of poProducts">
                <td>{{ po.name }}</td>
                <td>{{ po.amount }}</td>
                <td>{{ po.price }}</td>
                <td>{{ po.price * po.amount }}</td>
              </tr> -->
            </tbody>
          </table>
        </div>
        <div class="col-6"></div>
    </div>

<!-- </div> -->

<ng-template #loading>
    <p>Loading...</p>
  </ng-template>
