<div class="container-fluid px-4">
  <h1 class="mt-4">PRODUCTS</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Products</li>
  </ol>

  <div class="card mb-4">
    <div class="card-header row px-2 mx-0">
      <div class="col-6"><i class="fas fa-table me-1"></i> Product list</div>
      <div class="col-6 text-end">

        <button
          type="button"
          class="btn btn-primary"
          id="btn-agregar-proveedor"
          routerLink="/products/new"
        
        >
          Add new product
        </button>
      </div>
    </div>
    <table class=" table-hover card-body">
      <thead>
        <tr>
          <th></th>
          <th>SKU</th>
          <th>Name</th>
          <th>Category</th>
          <th>Supplier</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of products" [id]="p.deleted ? 'bg-deleted' : ''" >
          <td >
              <img
                src="{{ p.imgUrl }}"
                alt="product"
                class="img-thumbnail img-table"
                (error)="imageNotFound($event)"
                
              />
          </td>
          <td>{{ p.sku }}</td>
          <td>{{ p.name }}</td>
          <td>{{ p.categoryId.name }}</td>
          <td>{{ p.supplierId.legalName }}</td>
          <td>${{ p.price }}</td>
          <td>
            <div class="d-flex flex-row">
              <button
                type="button"
                class="btn btn-outline-success btn-sm"
                value="{{ p.id }}"
                [routerLink]="['/products/details/', p.id]"
              >
                Details
              </button>

              <button
                type="button"
                class="btn btn-outline-primary btn-sm"
                id="btn-agregar-proveedor"
                [routerLink]="['/products/update/', p.id]"
              
              >
                Edit
              </button>

              <button
              *ngIf="!p.deleted"
              type="button"
              class="btn btn-outline-danger btn-sm"
              value="{{ p.id }}"
              (click)="deleteProduct(p.id)"
            >
              Delete
            </button>
            <button
              *ngIf="p.deleted"
              type="button"
              class="btn btn-outline-danger btn-sm"
              value="{{ p.id }}"
              (click)="deleteProduct(p.id)"
            >
              Restore
            </button>
            </div>
            
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
