.img-table {
  max-width: 10vw;
}
#bg-deleted {
  background-color: #fcb7bc;
}
.empty-list-message {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
}
