

<div
  [ngClass]="{
    'sidebar-open': isSidebarOpen,
    'sidebar-closed': !isSidebarOpen
  }"
  class="sidebar"
>
<div >
<h3 class="text-white text-center">AG</h3>
</div>
  <button (click)="toggleSidebar()" class="btn btn-outline-light toggle-btn">
    <i class="bi bi-list"></i>
  </button>
  <ul class="nav flex-column mb-auto">
    <li class="nav-item">
      <a
        routerLink="/home"
        class="nav-link"
        [class.active]="isCurrentRoute('/home')"
      >
        <i class="bi bi-house"></i>
        <span class="sidebar-text" [ngClass]="{ spanclosed: !isSidebarOpen }"
          >HOME</span
        >
      </a>
    </li>
    <hr class="customhr">
    <li class="nav-item">
      <a
        routerLink="/suppliers"
        class="nav-link"
        [class.active]="isCurrentRoute('/suppliers')"
      >
        <i class="bi bi-shop"></i>
        <span class="sidebar-text" [ngClass]="{ spanclosed: !isSidebarOpen }"
          >SUPPLIERS</span
        >
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/products"
        class="nav-link"
        [class.active]="isCurrentRoute('/products')"
      >
        <i class="bi bi-basket"></i>
        <span class="sidebar-text" [ngClass]="{ spanclosed: !isSidebarOpen }"
          >PRODUCTS</span
        >
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/purchase-orders"
        class="nav-link"
        [class.active]="isCurrentRoute('/purchase-orders')"
      >
        <i class="bi bi-file-earmark-bar-graph"></i>
        <span class="sidebar-text" [ngClass]="{ spanclosed: !isSidebarOpen }"
          >PURCHASE ORDERS</span
        >
      </a>
    </li>
    <hr class="customhr">
    <li class="nav-item">
      <a
        routerLink="/categories"
        class="nav-link"
        [class.active]="isCurrentRoute('/categories')"
      >
        <i class="bi bi-tags"></i>
        <span class="sidebar-text" [ngClass]="{ spanclosed: !isSidebarOpen }"
          >CATEGORIES</span
        >
      </a>
    </li>
  </ul>
  <hr />
</div>
