<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidenav">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        routerLink="/suppliers"
        class="nav-link text-white"
        [class.active]="isCurrentRoute('/suppliers')"
      >
        SUPPLIERS
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/products"
        class="nav-link text-white"
        [class.active]="isCurrentRoute('/products')"
      >
        PRODUCTS
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/purchase-orders"
        class="nav-link text-white"
        [class.active]="isCurrentRoute('/purchase-orders')"
      >
        PURCHASE ORDERS
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/categories"
        class="nav-link text-white"
        [class.active]="isCurrentRoute('/categories')"
      >
        CATEGORIES
      </a>
    </li>
  </ul>
  <div class="mt-auto"></div>
  <!-- Para que la sidebar llegue hasta abajo -->
</div>
