

.sidenav {

  min-height: 100vh;
  overflow-y: auto; 
}

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
}



 .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  padding: 20px;
  transition: width 0.5s;
}

.spanclosed{
  display: none !important;
}

.sidebar-closed {
  width: 70px;
}

.toggle-btn {
  margin-bottom: 10px;
}

.nav-link {
  color: #fff;
  display: flex;
  align-items: center;
}

.nav-link i {
  margin-right: 10px;
}

.sidebar-text {
  display: inline-block;
  margin-left: 5px;
}

.main-content {
  margin-left: 250px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-open {
  z-index: 1;
}

.customhr{
  color: #fff;
}